a {
  color: #003468;
  cursor: pointer;
}

.card {
  position: relative;
}

.select-card-btn,
.unselect-card-btn {
  position: absolute;
  bottom: 0;
  margin: 15px;
}

.select-card-btn {
  background: rgb(0, 111, 15);
}

.unselect-card-btn {
  background: rgb(106, 0, 0);
}

.card_link {
  margin-top: 5px;
}

.card_name {
  font-size: 20px;
}
