.cards-details-section,
.no-details,
.loader-details {
  width: 50%;
  min-width: 50%;
  margin-top: 40px;
  border-left: 1px solid #003468;
  padding-left: 20px;
}

.card_details {
  color: #003468;
  margin-right: 25px;
  padding: 15px 10px;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.details_close {
  margin-top: 20px;
}

.loader-details {
  color: #003468;
  font-weight: 500;
  font-size: 40px;
}

.theme-dark .cards-details-section,
.theme-dark .no-details,
.theme-dark .loader-detail {
  border-left: 1px solid #d5d5d5;
}

.theme-dark .card_details,
.theme-dark .loader-details {
  color: white;
}
